<div ng-controller="homeController as c">
    <div class="row">
        <div class="col-md-12 text-center">
            <h1>
                DAVAO no Light
                <span style="font-size: 9px">Hardly a Beta</span>
            </h1>
            <p>
                A web app that will lessen the pain in searching for your blackout schedule
            </p>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label class="control-label" for="focusedInput">Search:</label>
                <input class="form-control input-sm" id="focusedInput" ng-model="search.$" type="text">
            </div>
        </div>
    </div>
    <div class="row" style="min-height: 300px; max-height: 500px; overflow: auto;">
        <div class="col-md-12">
            <table class="table table-fixed table-striped table-condensed">
                <thead>
                    <tr>
                        <th>Group</th>
                        <th>Feeder</th>
                        <th>Place</th>
                        <th>Schedule</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="l in c.list | filter:search">
                        <td>
                            {{l.Group}}
                        </td>
                        <td>
                            {{l.Feeder}}
                        </td>
                        <td>
                            {{l.Place}}
                        </td>
                        <td>
                            {{l.Schedule}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>        
    </div>
</div>
